<!DOCTYPE html>
<html>
    <head>
        <title>Click'n'Play - Principal</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    
        <link rel="stylesheet" href="css/estilo.css">
    </head>
    
    <body>
        <div class="menu linha">
            MENU
        </div>
    
        <div class="header">
            Click'n'Play
        </div>
    
        <div class="sidebar linha">
            
            <div class="gameSidebar">CATEGORIA 1</div>
            <div class="gameSidebar">CATEGORIA 2</div>
            <div class="gameSidebar">CATEGORIA 3</div>
            <div class="gameSidebar">CATEGORIA 4</div>
            
        </div>
    
        <div class="conteudo linha">
            JOGOS DO AUTOR >> TITULO DO JOGO
    
                <div class="jogoTitulo">
                    Destaques
                </div>
    
                <div class="jogoImagem">
                    <img class="imagem linha" src="img/WarFace.png">
                </div>
    
                <div class="jogoLista linha">
                    Jogos como este:
                    <p>
                    -Jogo 1
                    <p>
                    -Jogo 2
                </div>
    
                <div class="jogoDesc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum arcu quis sem laoreet fermentum. Phasellus nec quam eu diam
                     bibendum varius. Etiam gravida est id urna gravida, non dignissim elit feugiat. In molestie metus vitae ipsum pharetra tincidunt. 
                     In blandit lacus et pharetra viverra. Fusce vestibulum libero laoreet cursus pulvinar. Nulla dignissim nec risus eget facilisis.
                    Suspendisse ipsum eros, dignissim vitae elit ut, venenatis interdum elit. Duis dapibus placerat vestibulum. Maecenas rutrum elit nec 
                    venenatis tempor. 
                </div>
    
        </div>
    
        <div class="rodape bloco">
            Marca registrada BMGG
        </div>
    </body>
</html>