@charset "UTF-8";

/* Corpo */
.conteudo 
{
    padding-top: 10px;
}

.bloco-carrousel{
      height: 40vh;
}

.bloco-carrousel div{
      height: 100%;
}

.bloco-carrousel div img{
      height: 100%;
      width: 100%;
}