body 
{
    background-color: black;
    font-family: calibri;
}

h1{
      color: white;
}
h2{
      color: white;
}

.titulo
{
    text-align: center; /* alinhamento horizontal do texto*/
    font-size: 50px; /* tamanho da fonte */    
    background-color: rgb(0, 0, 0); /* cor de fundo */
    height: 12vh; /* altura da div */
    color: whitesmoke; /* cor da fonte */

}

.logo 
{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    height: 12vh;
}

 .conteudo-principal{
    /* background-image: url('../img/bg_cs.jpg'); */
    background-color: #3e3d79;
} 

.sidebar 
{
    height: 88vh;
    color: whitesmoke;
}

.gameSidebar .categoria
{
    text-align: center;
    padding-top: 5vh;
    color:aqua;
    font-size: 20px;
}

.gameSidebar .sub-categoria
{
    text-align: center;
    color:white;
    font-size: 10px;
}

.conteudo 
{
    padding-top: 10px;
}

.bloco-carrousel{
      height: 40vh;
}

.bloco-carrousel div{
      height: 100%;
}

.bloco-carrousel div img{
      height: 100%;
      width: 100%;
}

.rodape 
{
    text-align: center;
    font-size: 20px;
    background-color: rgb(39, 39, 39);
    height: 4vh;
    color: darkgrey;
}

