@charset "UTF-8";

/*Desculpa pelo trabalho!! */

body
{
    background-color: #6610f2;
}

.backgroundGame
{
    background-color: #41118a;
}

.jogoTitulo
{
    font-size: 48px;
    color: lightgrey;
}

.carrossel
{
    width: 60vh;
}

.text-underline-hover 
{
    color: lightgray;
    text-decoration: none;
}
.text-underline-hover:hover 
{
    color: lightgray;
    text-decoration: underline;
}