body 
{
    background-color: black;
    font-family: calibri;
}

.linha 
{
    float: left; /* disposição da div lado a lado (primeiro à esquerda) */
}

.bloco 
{
    clear: left; /* anula o efeito do float left */
}


.header 
{
    width: 100%; /* largura */
    text-align: center; /* alinhamento horizontal do texto*/
    font-size: 50px; /* tamanho da fonte */    
    background-color: darkslateblue; /* cor de fundo */
    height: 8vh; /* altura da div */
    color: whitesmoke; /* cor da fonte */
}

.menu 
{
    width: 10%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    height: 8vh;
    font-size: 20px;
}

.sidebar 
{
    width: 10%; 
    text-align: center;
    font-size: 20px;
    background-color: darkslateblue;
    height: 80vh;
    color: whitesmoke;
    position: left;
}

.jogoImagem
{
    position: sticky;
    top: 25%;
    left: 15%;
    width: 60%;
    height: 50%;
    padding-left: 0px;
    border-style: groove;
    border-color: aliceblue;
}

.imagem
{
    width: 100%;
    height: 100%;
}

.jogoTitulo
{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 58px;
    text-indent: center;
    font-size: 48px;
    background-color: rgb(97, 126, 255);
    color: black;
    border-style: groove;
    border-color: purple;
}

.jogoDesc
{
    position: absolute;
    font-size: 20px;
    top: 68%;
    left: 15%;
    width: 50%;
    height: 20vh;
    text-align: justify;
    background-color: rgb(97, 126, 255);
    color: black;
    border-style: groove;
    border-color: purple;
}

.jogoLista
{
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 75%;
    width: 20%;
    height: 20vh;
    text-indent: 0px;
    background-color: rgb(97, 126, 255);
    color: black;
    border-style: groove;
    border-color: purple;
}


.conteudo 
{
    width: 90%;
    text-indent: 10px;
    padding-top: 10px;
    background-color: rgb(0, 0, 50);
    color: darkgoldenrod;
    height: 80vh;
}

.rodape 
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: rgb(39, 39, 39);
    height: 50px;
    color: darkgrey;
}

.gameSidebar
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}