<!DOCTYPE html>
<html lang="pt-br">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/estiloGamepage.css">
      <link rel="stylesheet" href="css/estilocatalogo.css">
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <title>Catálogo</title>
</head>
<body>  
      <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1 logo">
                    <img src="img/logo.png" alt="logo" width="100%" height="100%">
                </div>
    
                <div class="col-sm-11 col-md-11 col-lg-11 titulo">
                    Click'n'Play
                </div>
            </div>
    
            <div class="row conteudo-principal">
                <div class="col-sm-2 col-md-2 col-lg-2 sidebar">
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 categoria">CATEGORIA 1</div>
                    </div>
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 sub-categoria">SUB CATEGORIA 1</div>
                    </div>
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 sub-categoria">SUB CATEGORIA 2</div>
                    </div>
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 sub-categoria">SUB CATEGORIA 3</div>
                    </div>
    
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 categoria">CATEGORIA 2</div>
                    </div>
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 categoria">CATEGORIA 3</div>
                    </div>
                    <div class="row gameSidebar">
                        <div class="col-sm-12 col-md-12 col-lg-12 categoria">CATEGORIA 4</div>
                    </div>
                </div>
    
                 
                <div class="col-sm-9 col-md-9 col-lg-9 conteudo">
                  
            <h1>Destaques</h1>
                  
      
            <figure class="figure">
                  <img class="figure-img img-fluid rounded" src="img/jogo1-md.png">
                  <figcaption>Jogo 1</figcaption>
            </figure>

            <figure class="figure">
                  <img class="figure-img img-fluid rounded" src="img/jogo2-md.png">
                  <figcaption>Jogo 2</figcaption>
            </figure>

            <figure class="figure">
                  <img class="figure-img img-fluid rounded" src="img/jogo3-md.png">
                  <figcaption>Jogo 3</figcaption>
            </figure>

            <h2>Ação</h2> 
                  <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="img/jogo1-sm.png">
                        <figcaption >Jogo 1</figcaption>
                  </figure>
                  <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="img/jogo2-sm.png">
                        <figcaption>Jogo 2</figcaption>
                  </figure>
                  <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="img/jogo3-sm.png">
                        <figcaption>Jogo 3</figcaption>
                  </figure>
                  
      </div>
    
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 rodape">
                    Marca registrada BMGG
                </div>
            </div>
        </div>
</body>
</html>