<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Strike 1.6 - Click'N'Play</title>

    <link rel="stylesheet" href="css/estiloGamepage.css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1 menu">
                MENU
            </div>

            <div class="col-sm-11 col-md-11 col-lg-11 cabecalho">
                Click'n'Play
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1 sidebar">
                <div class="row gameSidebar">
                    CATEGORIA 1
                </div>
                <div class="row gameSidebar">
                    CATEGORIA 2
                </div>
                <div class="row gameSidebar">
                    CATEGORIA 3
                </div>
                <div class="row gameSidebar">
                    CATEGORIA 4
                </div>
            </div>

            <div class="col-sm-11 col-md-11 col-lg-11 conteudo">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        JOGOS DO AUTOR >> TITULO DO JOGO
                    </div>
                </div>
                
                <p><div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 jogoTitulo">
                        NOME DO JOGO
                    </div>

                    <div class="col-sm-1 col-md-1 col-lg-1 rodaImagemMiniatura">
                        <img src="./img/cs1.jpg" class="jogoImagemMiniatura">
                        <img src="./img/ph1.png" class="jogoImagemMiniatura">
                        <img src="./img/ph1.png" class="jogoImagemMiniatura">   
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 jogoLista">
                        Jogos como este:
                        <p>
                        <p>
                        -Jogo 1
                        <p>
                        -Jogo 2
                        <p>
                        -Jogo 3
                        <p>
                        -Jogo 4
                        <p>
                        -Jogo 5
                        <p>
                        -Jogo 6      
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 autorInfo">
                        AUTOR
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum arcu quis sem laoreet fermentum. Phasellus nec quam eu diam
                            bibendum varius. Etiam gravida est id urna gravida, non dignissim elit feugiat. In molestie metus vitae ipsum pharetra tincidunt. 
                        </p>
                    </div>
                </div></p>

                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5 contentArea">
                        <img class="jogoImagem" src="./img/cs1.jpg">
                    </div>
                </div>

                <div class="row jogoDescBox">
                    <div class="col-sm-6 col-md-6 col-lg-6 jogoDesc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum arcu quis sem laoreet fermentum. Phasellus nec quam eu diam
                        bibendum varius. Etiam gravida est id urna gravida, non dignissim elit feugiat. In molestie metus vitae ipsum pharetra tincidunt. 
                        In blandit lacus et pharetra viverra. Fusce vestibulum libero laoreet cursus pulvinar. Nulla dignissim nec risus eget facilisis.
                        Suspendisse ipsum eros, dignissim vitae elit ut, venenatis interdum elit. Duis dapibus placerat vestibulum. Maecenas rutrum elit nec 
                        venenatis tempor.

                        <p><div class="col-sm-3 col-md-3 col-lg-3 jogoDownload">
                            Faça download aqui!
                        </div>  </p>
                    </div>

                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 rodape">
                Marca registrada BMGG
            </div>
        </div>
    </div>
</body>